<header>
    <div class="container">
        <a routerLink="/" class="logo">ChefFlex</a>
        <nav>
            <ul>
                <li>
                    <a href="">Login</a>
                </li>
                <li class="menu-container">
                    <a routerLink="/dashboard">Kuherrn</a>
                    <div class="menu">
                        <a href="/Profile">Profile</a>
                        <a href="/Jobs">Jobs</a>
                        <a href="Login">Login</a>
                    </div>
                </li>
                <li>
                    <a href="/Applied">Applied</a>
                </li>
            </ul>
        </nav>
    </div>
</header>